<!DOCTYPE html>
<html class="no-js" lang="" class="h-full">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Belize Orchids</title>
    <meta name="description" content="">
    <meta name="viewport" content=
    "width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body class="h-full m-4">
    <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

    <h1 class="text-2xl mb-4">Orchids of Belize</h1>

    <form class="mb-4">
        <input name="q" type="search" placeholder="Search...">
    </form>

    {% for orchid in orchids %}
        <div x-data="{expanded: false}"
             x-cloak
             class="mb-4">
            <button x-on:click="expanded = !expanded"
                    class="flex hover:underline">
                <span class="mr-2">{{ orchid['name'] }}</span>
                {% if orchid['images'] | length %}
                    <img src="{{ url_for('static', filename='heroicons/camera-mini.svg') }}"
                         class="inline"
                         width=20
                         height=20>
                {% endif %}
            </button>
            <div x-show="expanded"
                 class="flex flex-row">
                {% for url in orchid['images'] %}
                    <div>
                        <img src="{{thumb_root}}{{url}}"
                             loading="lazy"
                             class="p-2">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</body>
</html>
